.creator-forms {
  --item-list-height: 36px;

  position: relative;
  height: 100%;
  margin: 0 var(--base-margin);
  filter: brightness(1.2);
}

.creator-forms_list {
  display: flex;
  width: 100%;
  height: var(--item-list-height);
}

.creator-forms_item {
  white-space: nowrap;
  border: 1px solid var(--border-color);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.creator-forms_item[data-active] {
  background-color: var(--bg-color-bright-1);
  border-bottom: 0;
}

.creator-forms_item:not(:first-child) {
  border-left: 0;
}

.creator-forms_item:last-child {
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--border-color);
  border-radius: 0;
}

.creator-forms_panels {
  width: 100%;
  height: calc(100% - var(--item-list-height));
  overflow: auto;
  background-color: var(--bg-color-bright-1);
  border: 1px solid var(--border-color);
  border-top: 0;
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
