.common-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  border: 1px solid var(--border-color);
  border-top: 0;
  border-right: 0;
  cursor: pointer;
  aspect-ratio: 1 / 1;
}

.common-block:hover {
  background-color: var(--main-color-deep-1);
}

.common-block:active {
  background-color: var(--main-color);
}
