@import url("./styles/system-info.css") layer(component);

@layer page {
  .global-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    box-sizing: border-box;
    height: var(--global-header-height);
  }

  .global-header_is-content {
    background-color: var(--bg-color);
    border-bottom: var(--border);
    box-shadow: rgb(0 0 0 / 45%) 0 25px 20px -20px;
  }
}