@import url("./styles/creator-main.css") layer(component);
@import url("./styles/creator-form.css") layer(component);

@layer page {
  .creator_main {
    position: relative;
    left: calc(-1 * var(--base-margin));
    width: calc(100% + 2 * var(--base-margin));
  }
}