@import "./styles/design-alert.css";
@import "./styles/destiny-aside.css";

.destiny-design {
  --aside-width: 20rem;

  position: relative;
  width: 100%;
  height: 100%;
}

.destiny-design_main {
  min-width: calc(100% - var(--aside-width));
  overflow: hidden;
}
