.destiny-design_aside {
  --plus-height: 4%;

  position: relative;
  bottom: var(--plus-height);
  z-index: 1;
  width: 100%;
  height: calc(100% + var(--plus-height));
}

.destiny-design_aside > .code-canvas {
  height: max-content;
}
