.destiny-design_aside {
  position: relative;
  z-index: 1;
  width: 100%;
}

.destiny-design_aside > .code-canvas {
  height: max-content;
  background-color: var(--bg-color-bright-1);
  border-top-left-radius: var(--normal);
}
