@import "./styles/aside-list.css";
@import "./styles/aside-module.css";
@import "./styles/list-item.css";
@import "./styles/aside-panel.css";

.app-aside_box {
  --ani-time: 0.3s;

  position: relative;
  z-index: 2;
  flex-direction: row;
  height: 100%;
  color: var(--white);
}
