@import "./styles/aside-list.css";
@import "./styles/aside-module.css";
@import "./styles/list-item.css";

.app-aside__box {
  position: relative;
  flex-direction: row;
  height: calc(100% - var(--header-height));
  color: var(--white);
}
