.global-dialog_footer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  place-items: center;
}

.global-dialog_footer::before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  /* stylelint-disable-next-line max-line-length */
  background: linear-gradient(to right, var(--border-line-color) var(--border-line-mask-width), rgb(241 215 137 / 40%), var(--border-line-color) calc(100% - var(--border-line-mask-width)));
  content: "";
}
