.title-card {
  --padding: var(--normal);
  --border-radius-card: var(--border-radius);

  z-index: 1;

  display: flex;
  flex-direction: column;

  min-width: 400px;
  height: fit-content;

  color: var(--white);

  background-color: var(--bg-color-bright-1);
  border: var(--border);
  border-radius: var(--border-radius-card);
}
