.setting-footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: var(--footer-height);
  color: white;
  clip-path:
    polygon(
      0% 0%,
      var(--line-break-base-width) 0%,
      calc(var(--line-break-base-width) + var(--line-break-width)) var(--line-break-height),
      calc(100% - var(--line-break-base-width) - var(--line-break-width)) var(--line-break-height),
      calc(100% - var(--line-break-base-width)) 0%,
      100% 0%,
      100% 100%,
      0 100%
    );
  pointer-events: auto;
}

@media screen and (max-width: 1450px) {
  .setting-footer {
    --main-width: calc(100% - 2 * var(--line-break-base-width));
    --last-part-property: 65%;
    --first-part-property: calc(100% - var(--last-part-property));
  }

  /* .setting-footer_part:first-child {
  } */

  .setting-footer_part:last-child {
    --padding-width: 10%;

    width: calc(var(--main-width) - var(--padding-width) * 2);
    margin-top: var(--normal);
    margin-left: var(--padding-width);
  }

  .setting-footer {
    justify-content: flex-start;
  }
}

.setting-footer_part {
  display: flex;
  justify-content: space-around;
  width: var(--line-break-base-width);
  margin-right: var(--small);
  place-items: center;
}

.setting-footer_key {
  justify-content: center;
  width: calc(100% / 3.5);
  margin-right: 0 var(--small);
  padding: var(--mini) var(--small);
  white-space: nowrap;
  border-radius: var(--mini);
  cursor: pointer;
  transition: all var(--moment);
}

/* kbd */

.setting-footer_key:hover {
  background: linear-gradient(67deg, var(--main-color-bright-2) 5%, var(--main-color-deep-2) 60%);
}

.setting-footer_error kbd {
  color: var(--bg-color);
  background-color: var(--color);
}

.setting-footer_key:hover kbd {
  color: var(--bg-color);
  background-color: var(--color);
}

.setting-footer_key > span {
  font-size: var(--font-body-small);
}

.setting-footer_error {
  --padding-x: calc(var(--normal) * 2);

  transform: scale(0.9);
}
