.setting-header {
  position: relative;
  display: flex;
  justify-content: center;
  height: var(--header-height);
  color: white;
  clip-path:
    polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      calc(100% - var(--line-break-base-width)) 100%,
      calc(100% - var(--line-break-base-width) - var(--line-break-width)) calc(100% - var(--line-break-height)),
      calc(var(--line-break-base-width) + var(--line-break-width)) calc(100% - var(--line-break-height)),
      var(--line-break-base-width) 100%,
      0 100%
    );
  pointer-events: auto;
  place-items: center;
}
