.setting-module {
  position: relative;
  color: var(--border-color);
}

.setting-module_title {
  position: relative;
  padding-bottom: var(--small);
  color: var(--main-color-deep-2);
  font-size: var(--font-title-main);
  margin-block-start: var(--small);
  margin-block-end: var(--normal);
}

.setting-module_title::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 14%;
  height: 1px;
  background-color: var(--main-color-deep-2);
  border: none;
  content: "";
}

.setting-module_items {
  display: flex;
  justify-content: space-between;
  color: var(--white);
}
