.slide-up-enter-active,
.slide-up-leave-active {
  transition: all var(--transition-prop);
}

.slide-up-enter-from {
  transform: translateY(var(--large));
  opacity: 0%;
}

.slide-up-leave-to {
  transform: translateY(calc(-1 * var(--large)));
  opacity: 0%;
}

.slide-up-enter-to,
.slide-up-leave-from {
  opacity: 100%;
}
