.slide-right-enter-active,
.slide-right-leave-active {
  transition: all var(--ani-time) ease;
}

.slide-right-enter-from {
  transform: translateX(calc(-1 *  var(--large)));
  opacity: 0%;
}

.slide-right-leave-to {
  transform: translateX(var(--large));
  opacity: 0%;
}
