/* stylelint-disable max-line-length */
@import "./styles/setting-footer.css";
@import "./styles/setting-header.css";

.setting {
  --line-break-height: 1rem;
  --line-break-base-width: 20%;
  --line-break-width: 1%;
  --line-border-size: 2px;
  --side-bg: rgb(43 43 43 / 70%);

  position: fixed;
  z-index: var(--setting-z-index);
  background-color: var(--side-bg);
  backdrop-filter: blur(2px);
  inset: 0;
}

.setting .slide-up-leave-to {
  transform: translateY(var(--slide-path));
  opacity: 0;
}

.setting .slide-down-leave-to {
  transform: translateY(calc(-1 * var(--slide-path)));
  opacity: 0;
}

.setting-header::before,
.setting-footer::before {
  position: absolute;
  background-image: linear-gradient(to right, rgb(0 0 0 /0%) 1%, rgb(241 215 137 / 10%) 10%, rgb(241 215 137 / 45%), rgb(240 194 57 / 70%), rgb(241 215 137 / 20%), rgb(241 215 137 / 20%) 90%, rgb(0 0 0 / 0%));
  content: "";
  clip-path:
    polygon(
      0 calc(100% - var(--line-border-size)),
      calc(var(--line-break-base-width) - var(--line-border-size) / 2) calc(100% - var(--line-border-size)),
      calc(var(--line-break-base-width) + var(--line-break-width) - var(--line-border-size) / 2) calc(100% - var(--line-border-size) - var(--line-break-height)),
      calc(100% - var(--line-break-base-width) - var(--line-break-width) + var(--line-border-size) /  2) calc(100% - var(--line-border-size) - var(--line-break-height)),
      calc(100% - var(--line-break-base-width) + var(--line-border-size) / 2) calc(100% - var(--line-border-size)),
      100% calc(100% - var(--line-border-size)),
      100% 100%,
      calc(100% - var(--line-break-base-width)) 100%,
      calc(100% - var(--line-break-base-width) - var(--line-break-width)) calc(100% - var(--line-break-height)),
      calc(var(--line-break-base-width) + var(--line-break-width)) calc(100% - var(--line-break-height)),
      var(--line-break-base-width) 100%,
      0 100%
    );
  inset: 0;
}

.setting-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.setting-footer::before {
  transform: scale(-1);
}
