.kbd-icon {
  --bg-color: var(--gray-deep-2);
  --color: var(--white-deep-2);

  padding: 0 var(--small);
  color: var(--color);
  font-weight: bold;
  font-size: 1rem;
  font-family: Jaldi, sans-serif;
  text-transform: uppercase;
  background-color: var(--gray-deep-2);
  border-top: 0.1px solid var(--gray-bright-1);
  border-radius: var(--border-radius);
  zoom: 0.75;
}
