@import url("./style/config.css") layer(utilities);
@import url("./style/aside-width.css") layer(utilities);
@import url("./style/footer-height.css") layer(utilities);
@import url("./style/header-height.css") layer(utilities);
@import url("./style/type.css") layer(utilities);

@layer utilities {
  .csss-layout {
    position: relative;

    display: grid;
    grid-template:
      "header header" minmax(min-content, var(--header-height))
      "aside main" auto
      "footer footer" minmax(min-content, var(--footer-height))
      / var(--grid-template-columns);
    grid-template-areas: var(--grid-template-areas);

    width: 100%;
    height: 100%;
  }

  .csss-layout__header {
    grid-area: header;
  }

  .csss-layout__aside {
    grid-area: aside;
  }

  .csss-layout__main {
    grid-area: main;
  }

  .csss-layout__footer {
    grid-area: footer;
  }
}
