.m-mini {
  margin: var(--mini);
}

.m-small {
  margin: var(--small);
}

.m-bm {
  margin: var(--base-margin);
}

.mt-mini {
  margin-top: var(--mini);
}

.mt-small {
  margin-top: var(--small);
}

.mt-bm {
  margin-top: var(--base-margin);
}

.mr-mini {
  margin-right: var(--mini);
}

.mr-small {
  margin-right: var(--small);
}

.mr-bm {
  margin-right: var(--base-margin);
}

.mb-mini {
  margin-bottom: var(--mini);
}

.mb-small {
  margin-bottom: var(--small);
}

.mb-bm {
  margin-bottom: var(--base-margin);
}

.ml-mini {
  margin-left: var(--mini);
}

.ml-small {
  margin-left: var(--small);
}

.ml-bm {
  margin-left: var(--base-margin);
}

.mx-mini {
  margin-right: var(--mini);
  margin-left: var(--mini);
}

.mx-small {
  margin-right: var(--small);
  margin-left: var(--small);
}

.mx-bm {
  margin-right: var(--base-margin);
  margin-left: var(--base-margin);
}

.my-mini {
  margin-top: var(--mini);
  margin-bottom: var(--mini);
}

.my-small {
  margin-top: var(--small);
  margin-bottom: var(--small);
}

.my-bm {
  margin-top: var(--base-margin);
  margin-bottom: var(--base-margin);
}
