@import "./styles/destiny-alert.css";
@import "./styles/destiny-cards.css";
@import "./styles/destiny-panel.css";

.destiny-design {
  --aside-width: 25%;

  position: relative;
  width: 100%;
  height: 100%;
  transition: grid-template var(--transition-prop);
}

.destiny-design_main {
  z-index: 0;
  overflow: hidden;
  height: 100%;
}
