@import url("./styles/destiny-alert.css") layer(component);
@import url("./styles/destiny-cards.css") layer(component);
@import url("./styles/destiny-panel.css") layer(component);

@layer page {
  .destiny-design {
    --aside-width: 25%;

    position: relative;
    width: 100%;
    height: 100%;
    transition: grid-template var(--transition-prop);
  }

  .destiny-design_main {
    z-index: 0;
    overflow: hidden;
    height: 100%;
  }
}