
.login_title::after {
  content: attr(data-suffix);

  position: absolute;
  top: 50%;
  right: .5rem;
  zoom: .7;
  transform: translateY(-50%);


  writing-mode:vertical-rl;
  font-size: 8px;
  font-weight: bold;
  line-height: 1.4rem;
  text-align: right;
}