.login-footer::before {
  top: 0;
  right: calc(-1 * var(--login-right));
  width: 160%;
}

.login-footer::after {
  top: 0;
  left: calc(-1 * var(--padding-left) * .5 + 50% - 43% / 2);

  width: 43%;
  height: 2px;

  background-color: var(--gray-deep-2);
}
