.a-reset {
  color: inherit;
  text-decoration: none;
}

.p-reset {
  margin-block-start: 0;
  margin-block-end: 0;
}

html.dark {
  --el-bg-color: var(--bg-color-bright-1);
  --el-color-primary: var(--main-color);
  --el-bg-color-overlay: var(--bg-color-bright-1);
}
