/* stylelint-disable max-line-length */
.a-reset {
  color: inherit;
  text-decoration: none;
}

.button-reset {
  background-color: transparent;
  border: none;
  outline: none;
}

.input-reset {
  background-color: transparent;
  border: none;
  outline: none;
  appearance: none;
}

.ol-reset,
.ul-reset {
  min-height: 100%;
  list-style: none;
  padding-inline-start: 0;
}

.ol-reset,
.ul-reset,
.p-reset {
  margin-block-start: 0;
  margin-block-end: 0;
}

html.dark {
  --el-bg-color: var(--bg-color-bright-1);
  --el-color-primary: var(--main-color);
  --el-bg-color-overlay: var(--bg-color-bright-1);
  --el-box-shadow-light: none;
}

body {
  font-family: v-sans, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
}
.n-input.n-input--pair .n-input__input-el,
.n-input.n-input--pair .n-input__placeholder {
  text-align: left;
}