.app-aside__header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  font-family: Pacifico, sans-serif;
}

.app-aside__header > span {
  padding-right: 2rem;
  letter-spacing: 4px;
}

.app-aside__header > div {
  margin-left: 1rem;
}
