.common-tabs {
  --border-height: 2px;
  --left: 0;

  position: relative;

  overflow-y: auto;
  flex: 1;

  height: calc(var(--main-height) - var(--base-margin));
  max-height: calc(var(--main-height) - var(--base-margin));
}

.common-tabs-list {
  display: flex;
  width: 100%;
  padding-bottom: var(--small);
  border-bottom: 2px solid var(--border-color);
}

.common-tabs-list_item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: var(--base-margin);
}

.common-tabs-list_item[data-active] {
  color: var(--main-color);
}

.common-tabs-list_item:first-child::before {
  content: "";

  position: absolute;
  bottom: calc(-1 * var(--small) - var(--border-height));
  left: var(--rect-left);

  width: var(--rect-width);
  height: var(--border-height);

  background-color: var(--main-color);

  transition: all var(--transition-prop);
}

.common-tabs-panels {
  width: 100%;
  height: 100%;
}

.common-tabs-panel {
  height: 100%;
}
