.alert {
  display: flex;
  align-items: center;
  padding: calc(0.4 * var(--mini)) var(--small);
  white-space: nowrap;
  border-radius: var(--border-radius);
}

.alert p {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

.alert_icon {
  display: inline-block;
  min-width: 1.2rem;
  min-height: 1.2rem;
  margin: var(--small);
}

.alert_warning {
  background-color: rgb(118 93 11 / 80%);
}

.alert_info {
  background-color: rgb(99 124 128 / 80%);
}
