@import "./styles/ethnicity-main.css";
@import "./styles/search-result.css";
@import "./styles/ethnicity-add.css";

.ethnicity-design {
  --aside-width: 25%;
  --base-margin: var(--normal);
  --search-width: 80%;

  position: relative;
  width: 100%;
  height: 100%;
  transition: grid-template var(--transition-prop);
}

.ethnicity-design_main {
  position: relative;
}
