.setting-body {
  --width: 50vw;
  --height: 94%;

  width: var(--width);
  height: var(--height);
  color: white;
}

.slide-down-enter-active.setting-body {
  transition-delay: var(--flash);
}

.slide-down-leave-active.setting-header,
.slide-up-leave-active.setting-footer {
  transition-delay: var(--flash);

  /* transition-delay: 0s; */
}
