.router-history {
  display: flex;
  margin-left: var(--small);
}

.router-history_item {
  position: relative;
  display: flex;
  margin-right: var(--normal);
  color: var(--gray-bright-2);
  cursor: pointer;
  transition: all var(--moment);
  place-items: center;
}

.router-history_item:hover {
  transform: scale(1.1);
}

.router-history_active::before {
  --clip-begin: 15;
  --clip-width: 40;

  position: absolute;
  width: 100%;
  color: var(--main-color);
  white-space: nowrap;
  animation: router-history-active 0.8s;
  content: attr(data-name);
  clip-path: polygon(70% 0, 100% 0, 100% 100%, 30% 100%);
}

@keyframes router-history-active {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}
