.user-message {
  --avator-size: 0.7;
  --border-radius: 60% 40% 40% 20% / 70% 50% 30% 25%;

  display: flex;
  place-items: center;
}

.user-message__username {
  color: var(--white);
}

.user-message__username > span:first-child {
  color: var(--gray-bright-2);
  letter-spacing: 1px;
}

.user-message__username > span:last-child {
  letter-spacing: normal;
}
