.line_x_after_all::after,
.line_x_before_all::before,
.line_x_after_right::after,
.line_x_before_right::before,
.line_y_after_all::after,
.line_y_before_all::before,
.line_y_after_top::after,
.line_y_before_top::before {
  -webkit-mask-composite: destination-in;
  mask-composite: exclude;
}

.line_y_after_all::after,
.line_y_before_all::before {
  width: 1px;
  background: linear-gradient(180deg,var(--border-color),var(--border-color) 50%,transparent 0,transparent);
  background-size: 1px var(--mini) ;
  -webkit-mask: linear-gradient(hsl(0deg 0% 0%),hsl(0deg 0% 0%));
}

.line_y_before_top::before,
.line_y_after_top::after {
  width: 1px;
  background: linear-gradient(180deg,var(--border-color),var(--border-color) 50%,transparent 0,transparent);
  background-size: 1px var(--mini) ;
  -webkit-mask:
    linear-gradient(to bottom,var(--black-bright-2) 80%,transparent),
    linear-gradient(hsl(0deg 0% 0%),hsl(0deg 0% 0%));
}

.line_x_after_right::after,
.line_x_before_right::before {
  height: 1px;
  background: linear-gradient(to right,var(--border-color),var(--border-color) 50%,transparent 0,transparent);
  background-size: var(--mini) 1px;
  -webkit-mask: linear-gradient(to left,var(--black-bright-2) 80%,transparent),
    linear-gradient(hsl(0deg 0% 0%),hsl(0deg 0% 0%));
}

.line_x_before_all::before,
.line_x_after_all::after {
  height: 1px;
  background: linear-gradient(to right,var(--border-color),var(--border-color) 50%,transparent 0,transparent);
  background-size: var(--mini) 1px;
  -webkit-mask:
    linear-gradient(hsl(0deg 0% 0%),hsl(0deg 0% 0%));
}
