.app-aside_panels {
  --mask-top: 0;
  --margin: var(--base-margin);

  width: 100%;
  height: 100%;
  max-height: var(--max-height);
  border-bottom: var(--border);
}

.app-aside_panel {
  position: relative;
  height: 100%;
}
