.app-aside_listitem {
  --padding: calc(var(--normal) * 1.4);

  position: relative;
  padding: var(--padding);
  transition: all var(--moment);
}

.app-aside_listitem:hover {
  cursor: pointer;
}

.app-aside_item[data-active] > .app-aside_listitem {
  color: var(--main-color);
}
