.user-message_avator {
  --size: calc(var(--large) * 1.5);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  transform: scale(var(--avator-size));
}

.user-message_avator::before {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: calc(var(--mini) * 0.5);
  background: linear-gradient(45deg, var(--purple), var(--main-color-deep-2));
  border-radius: var(--border-radius);
  content: "";
  pointer-events: none;
  /* stylelint-disable-next-line */
  -webkit-mask: linear-gradient(#fff, #fff) content-box, linear-gradient(#fff, #fff);
  /* stylelint-disable-next-line */
  -webkit-mask-composite: clear;
}

.user-message_avator > span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
}

.user-message_avator > span > img {
  width: 70%;
  height: 70%;
  border-radius: var(--border-radius);
}
