.header-search {
  position: relative;
  display: flex;
  padding: var(--mini);
  color: var(--gray-bright-2);
  font-size: var(--font-body-small);
  background: linear-gradient(90deg, var(--bg-color-bright-1), var(--bg-color-bright-2));
  border-radius: var(--border-radius);
  transition: all var(--moment);
}

.header-search[data-active] {
  margin-left: -10%;
}

.header-search__header {
  margin: var(--mini);
  margin-right: var(--small);
}
