.aside-menu-block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: var(--title-height);
  padding-left: var(--normal);
  color: var(--gray);
  cursor: pointer;
  transition-duration: var(--flash);
  transition-property: color, background;
}

.aside-menu-block_title {
  position: relative;
  width: 100%;
  margin-left: calc(var(--small) * 1.2);
  font-size: var(--title-size);
  white-space: nowrap;
  text-align: left;
}

.aside-menu-block_sub {
  --length: 0;
  --total-height: calc(var(--length) * var(--title-height));

  height: var(--total-height);
  margin-left: var(--normal);
  overflow: hidden;
  transition: all var(--moment) ease-in-out;
}

.aside-menu-block_sub[data-aside-collapse] {
  margin-left: 0;
}

.aside-menu-block_sub[data-collapse] {
  height: 0;
}

.aside-menu-block[data-active] {
  color: var(--white);
}

.aside-menu-block[data-active] > .icon {
  color: var(--main-color);
}

.aside-menu-block > div:last-child {
  transition: transform var(--moment);
}

.aside-menu-block_mask {
  position: relative;
  right: var(--small);
  transform: scale(1.2);
}

.aside-menu-block[data-collapse] > .aside-menu-block_mask {
  transform: rotate(180deg) scale(1.2);
}
