.aside-menu > .aside-menu-block:first-child::before {
  position: absolute;
  top: calc(var(--mask-top) * 100%);
  right: 0;
  width: 3px;
  height: 100%;
  background-color: var(--main-color);
  transition: top 0.45s;
  content: "";
}
