@import "./menu-module-0.css";
@import "./menu-module-1.css";

.menu-module-1 {
  --padding-size: var(--normal);

  position: relative;
  left: var(--normal);
  padding: var(--small);
  padding-left: var(--padding-size);
  transition-duration: var(--flash);
  transition-property: color, background;
}

.menu-module-1[data-active] {
  color: var(--white);
}

.menu-module-1[data-active] .icon {
  color: var(--main-color);
}
