.app-aside_panels {
  --mask-top: 0;
  --margin: var(--base-margin);

  width: 100%;
  height: 100%;
  max-height: var(--max-height);
  margin-top: var(--base-margin);
  overflow: auto;
}

.app-aside_panel {
  --displacement: 10%;

  padding: var(--small);
  padding-top: 0;
  border-radius: var(--border-radius);
}
