@import "./styles/aside-list.css";
@import "./styles/aside-module.css";
@import "./styles/list-item.css";
@import "./styles/aside-panel.css";

.app-aside {
  --list-width: 3.5rem;
  --max-height: 60%;

  position: relative;
  width: var(--aside-width);
  height: var(--main-height);
  background-color: var(--bg-color-bright-1);
  border-right: var(--border);
}

.app-aside_box {
  --ani-time: 0.3s;

  position: relative;
  z-index: 2;
  flex-direction: row;
  height: 100%;
  color: var(--white);
}
