.destiny-design-main_cards {
  position: relative;
  display: flex;
  overflow: auto;
  border-bottom: var(--border);
}

.destiny-design-main_cards > div[data-active] > article {
  color: var(--main-color);
}

.destiny-design-main_cards>div:first-child > article{
  border-left: var(--border);
}