.aside-menu-block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--title-height);
  margin-bottom: var(--base-margin);
  padding: var(--small);
  padding-left: var(--normal);
  color: var(--gray);
  cursor: pointer;
  transition: var(--transition-prop);
  transition-property: color, background;
}

.aside-menu-block[data-active] {
  background-color: var(--bg-color-deep-1);
  border-radius: var(--border-radius);
}

.aside-menu-block_title {
  position: relative;
  width: 100%;
  color: var(--white);
  white-space: nowrap;
  text-align: left;
}

.aside-menu-main {
  width: 100%;
  margin-left: var(--base-margin);
}

.aside-menu-block_description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--gray);
  font-size: var(--font-body-small);
  white-space: nowrap;
}

.aside-menu-block_sub {
  --length: 0;
  --total-height: calc(var(--length) * var(--title-height) + var(--length) * (var(--base-margin) + 2 * var(--small)));

  height: var(--total-height);
  margin-left: var(--normal);
  overflow: hidden;
  transition: all var(--moment) ease-in-out;
}

.aside-menu-block_sub[data-aside-collapse] {
  margin-left: 0;
}

.aside-menu-block_sub[data-collapse] {
  height: 0;
}

.aside-menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--mini);
  font-size: calc(var(--normal) * 1.4);
  background-color: var(--white-deep-2);
  border-radius: var(--border-radius);
}

.aside-menu-block > div:last-child {
  transition: transform var(--moment);
}

.aside-menu-block_mask {
  position: relative;
  top: var(--mini);
  right: var(--small);
  margin-bottom: auto;
  transform: scale(1.2);
}

.aside-menu-block[data-collapse] > .aside-menu-block_mask {
  transform: rotate(180deg) scale(1.2);
}
