.name-design {
  overflow: auto;
  transition: grid-template var(--transition-prop);
}

.name-design_main {
  position: relative;
  left: calc(-1 * var(--base-margin));
  width: calc(100% + var(--base-margin));
  height: calc(var(--main-height) - 2 * var(--base-margin));
}

.name-design_main > * {
  height: 100%;
}

.name-design_main .title-card {
  max-width: 500px;
}
