body {
  --moment: 0.45s;
  --ani-time: var(--moment);
  --border-radius: var(--mini);
  --border-color: var(--gray);
  --border-height: 1px;
  --border: var(--border-height) solid var(--border-color);
  --main-color: var(--yellow);
  --main-color-bright-1: var(--yellow-bright-1);
  --main-color-bright-2: var(--yellow-bright-2);
  --main-color-deep-1: var(--yellow-deep-1);
  --main-color-deep-2: var(--yellow-deep-2);
  --bg-color-deep-1: rgb(37 37 37);
  --bg-color-deep-2: rgb(30 30 30);
  --bg-color: rgb(44 44 44);
  --bg-color-bright-1: rgb(52 52 52);
  --bg-color-bright-2: rgb(60 60 60);
}

#app {
  width: 100vw;
  height: 100vh;
  user-select: none;
}

.app {
  --header-block-height: 2.5rem;

  position: relative;
  width: 100vw;
  height: 100vh;
  color: var(--white);

  /* background-color: rgb(38 39 45); */
  background-color: var(--bg-color-deep-2);
  transition: grid-template var(--ani-time);
}

.app::before {
  position: absolute;
  background: radial-gradient(var(--bg-color-bright-2), transparent 40%);
  background-size: 4px 4px;
  content: "";
  inset: 0;
}

.app-main {
  --root-base-margin: calc(var(--normal) * 0.8);
  --base-margin: calc(var(--normal) * 0.8);

  position: relative;
  z-index: 1;
  height: var(--main-height);
}

.app-footer {
  z-index: 1;
  display: flex;
  align-items: center;
  font-size: var(--font-body);
  background-color: var(--bg-color-bright-2);
  border-top: var(--border);
}

.csss-layout.slide-left-enter-active,
.csss-layout.slide-left-leave-active,
.csss-layout.slide-right-enter-active,
.csss-layout.slide-right-leave-active {
  transition: all var(--transition-prop);
  transition-property: transform, opacity;
}

.page-transition {
  transition: grid-template var(--transition-prop);
}

.form-inline-flex {
  display: inline-flex !important;
  margin-right: var(--base-margin);
}
