@import "csss-ui/dist/style.css";

:root {
  font-size: 16px;
}

body {
  margin: 0;
  user-select: none;
}

#app {
  width: 100vw;
  height: 100vh;
}

.app {
  position: relative;
  color: var(--white);
  background: linear-gradient(240deg, var(--bg-color-bright-1), var(--bg-color-deep-1) 60%);
}

.app::before {
  position: absolute;
  background: radial-gradient(var(--bg-color-bright-2), transparent 40%);
  background-size: 4px 4px;
  content: "";
  inset: 0;
}

.app-aside {
  --header-height: 4rem;

  z-index: 700;
  background: linear-gradient(100deg, var(--bg-color), var(--bg-color-bright-2));
  border-top-right-radius: var(--normal);
  border-bottom-right-radius: var(--normal);
  box-shadow: var(--box-shadow-1);
}

.app-header {
  position: relative;
  padding: var(--normal);
}

/* need to add to csss */
:root {
  --box-shadow-1: rgb(255 255 255 / 10%) -1px 0 1px 0 inset, rgb(50 50 93 / 25%) 20px 0 20px 3px, rgb(0 0 0 / 30%) 20px 0 20px 1px;
  --box-shadow-1-luster: rgb(255 255 255 / 30%) -1px 0 1px 0 inset, rgb(50 50 93 / 25%) 20px 0 20px 3px, rgb(0 0 0 / 30%) 20px 0 20px 1px;
}
