@import "csss-ui/dist/style.css";

:root {
  font-size: 16px;
}

body {
  margin: 0;
}

#app {
  height: 100vh;
  width: 100vw;
}

.csss-layout {
  background: linear-gradient(240deg, var(--bg-color), var(--bg-color-deep-1));
  color: var(--white);
}
.csss-layout__aside {
  --header-height: 4rem;

  border-top-right-radius: var(--normal);
  border-bottom-right-radius: var(--normal);
  background: linear-gradient(100deg, var(--bg-color), var(--bg-color-bright-2));
  box-shadow: rgb(255 255 255 / 10%) -1px 0px 1px 0px inset, rgb(50 50 93 / 25%) 20px 0px 20px 3px, rgb(0 0 0 / 30%) 20px 0px 20px 1px;
}
