.workshop-factory {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--mini);
}

.workshop-factory-operator_item {
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1 / 1;
  margin: var(--mini);
  padding: var(--small);

  font-size: var(--font-title);

  background-color: var(--bg-color-bright-2);
  border-radius: var(--border-radius);
}

.workshop-factory_next {
  margin-right: 0;
}

.workshop-factory-operator {
  display: flex;
}
