.workshop-package {
  position: relative;

  padding: var(--small);

  background-color: var(--bg-color-deep-2);
  filter: brightness(1.2);
  border-radius: var(--border-radius);
}

.workshop-package_title {
  font-size: var(--font-title);
  text-align: center;
}

.workshop-package_description {
  margin-block-start: 0.5em;
  margin-block-end: 0.8em;
  color: var(--gray);
}
