.workshop-package {
  position: relative;
  padding: var(--small);
  background-color: var(--bg-color-deep-2);
  border-radius: var(--border-radius);
  filter: brightness(1.2);
}

.workshop-package_title {
  font-size: var(--font-title);
  text-align: center;
}

.workshop-package_description {
  color: var(--gray);
  margin-block-start: 0.5em;
  margin-block-end: 0.8em;
}

.workshop-package_button {
  width: 100%;
  color: var(--white-deep-2);
  font-size: var(--font-body);
  filter: saturate(70%);

  --bg-color-main: var(--orange-deep-2);
  --bg-color-sub: #0E5B70;
}
