.title-card_draggable {
  user-select: none;
}

.title-card_draggable > .title-card_header {
  cursor: var(--cursor-all-scroll);
}

[cursor-active="active"] .title-card_draggable > .title-card_header {
  cursor: var(--cursor-all-scroll-active);
}
