.title-card_title {
  display: flex;
  font-size: var(--font-title-small);
  white-space: nowrap;
}

.title-card_subtitle {
  display: flex;
  align-items: center;
  color: var(--gray);
  font-size: var(--font-body);
}
