.title-card {
  --padding: var(--normal);
  --border-radius-card: var(--border-radius);

  z-index: 1;
  min-width: 400px;
  color: var(--white);
  background-color: var(--bg-color-bright-1);
  border: var(--border);
  border-radius: var(--border-radius-card);
}

.title-card p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.title-card_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--small) var(--padding);
  background-color: var(--bg-color-bright-2);
  border-bottom: 1px solid var(--gray-deep-2);
  border-top-left-radius: var(--border-radius-card);
  border-top-right-radius: var(--border-radius-card);
}

.title-card_title {
  font-size: var(--font-title-small);
  white-space: nowrap;
}

.title-card_subtitle {
  display: flex;
  align-items: center;
  color: var(--gray);
  font-size: var(--font-body);
}

.title-card_main {
  position: relative;
  left: var(--padding);
  width: calc(100% - 2 * var(--padding));
  margin: var(--padding) 0;
}
