@import url("./style/config.css") layer(utilities);

@layer utilities {
  .csss-tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .csss-tabs__list {
    position: relative;
    display: flex;
  }

  .csss-tabs__panels {
    width: 100%;
  }
}
